BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "ARRAY_FINAL[0]" SITE "52" ;
LOCATE COMP "ARRAY_FINAL[1]" SITE "55" ;
LOCATE COMP "ARRAY_FINAL[2]" SITE "54" ;
LOCATE COMP "ARRAY_FINAL[3]" SITE "56" ;
LOCATE COMP "ARRAY_FINAL[4]" SITE "57" ;
LOCATE COMP "ARRAY_FINAL[5]" SITE "59" ;
LOCATE COMP "ARRAY_FINAL[6]" SITE "58" ;
LOCATE COMP "ARRAY_FINAL[7]" SITE "60" ;
LOCATE COMP "SEND_DATA_BITS" SITE "121" ;
LOCATE COMP "SPI_MOSI" SITE "71" ;
LOCATE COMP "SPI_CLK" SITE "44" ;
